body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #3498db;
}

button {
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #27ae60;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}
