:root {
    --first: #191970;
    --second: #29435C;
    --third: #000000;
    --fourth: white;
    --font-family: 'Lucida Grande', 'Courier New'; 
}

body, html {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: var(--third);
    font-family: var(--font-family);
}

section {
    font-family: var(--font-family);
}

ul {
    list-style: none;
    padding: 0;
}

/* question */
label {
    color: var(--fourth);
    text-align: center;
    font-size: 25px;
    padding-left: 2px;
}

/* buttons */
button {
    background-color: var(--third);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: var(--second);
}

p {
    text-align: center;
    color: var(--fourth);
}

/* question options */
#question1 {
    text-align: center;
    background-color: var(--second);
    color: var(--fourth);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* mood movie list */
#moviesList {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#moviesListTitle {
    display: none;
}


/* popular movie list */
#popularMoviesList {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* navbar menu */
.navbar-menu {
    background-color: var(--second);
    border-radius: 3px;
}

/* div for question container */
.question {
    text-align: center;
    padding-top: 10px;
}

/* container for button */
.btn {
   text-align: center;
}

/* title at top of page */
.title {
    margin-top: 3%;
    color: white;
}

.hidden {
    display: none;
    align-content: center;
}

/* question column */
.column-question {
    background-color: var(--first);
    border-radius: 8px;
}

/* popular movies column */
.column-popularmovies {
    background-color: var(--first);
    border-radius: 8px;
}

/* footer */
.footerbox {
    background-color: var(--second);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 2px;
}

@media (max-width: 1250px) {
    /* … */
 
.navbar-brand {
flex-wrap: wrap;
justify-content: center;
}

.title {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

}