html {background-color: #8ECDDD;
}

header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #22668D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watchlist-main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFADD;
    padding: 25px;
    border: 25px solid #FFFADD;
    width: 500px;
    height: 250px;
    border-radius: 25px;
    margin-top: 45px;
}

.input-line {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 50px;
}

.star-rating {
    color: #22668D;
}

li {
    display: flex;
    justify-content: space-around;
}

.star-rating .fa-star.active {
    color: #ffcc70;
}

.fa-star:hover {
    color: #ffcc70;
    transition-duration: .02s;
}

.watchlistbtn {
    background-color: #22668D;
    color: #FFFADD;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}