/* color key */
:root {
    --first: #191970;
    --second: #29435C;
    --third: #000000;
    --fourth: white;
}

/* this determines the background and font color throughout the page */ 
html {
    background-color: var(--third);
    color: white;
}

/* header styles to center, for color, and font */
header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--fourth);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* this determines the styling for the main container on the page */
.watchlist-main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--first);
    padding: 25px;
    border: 25px solid var(--first);
    width: 500px;
    height: 250px;
    border-radius: 25px;
    margin-top: 45px;
}

/* makes the input box, stars and enter button in a row and spaced apart */ 
.input-line {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 50px;
}

/* this is the color for the non-chosen stars */
.star-rating {
    color: gray;
}

/* this is the color of the stars once chosen */
.star-rating .fa-star.active {
    color: gold;
}

.fa-star:hover {
    color: gold;
    transition-duration: .02s;
}

/* determines how the watchlist will be formatted in the container */
li {
    display: flex;
    justify-content: space-around;
}

/* centers the star on the banner */
p {
    display: flex;
    justify-content: center;
}

/* this determines the styling for the star on the banner */
.decoration {
    align-items: center;
    background-color: var(--second);
    width: 100%;
    height: 50px;
}

/* determines the styling for the button */
.watchlistbtn {
    background-color: var(--third);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

/* this determines the positioning and color of the modal popup */
.modal {
    position:fixed;
    top: 32%;
    left: 37%;
    color: gray;
}

.modal-title {
   display: flex;
   justify-content: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* this determines the position and styling for the footer */
.footer {
   left: 50%;
   bottom: 20px;
   position: fixed;
   padding: 10px;
   border-radius: 5px;
   text-decoration: none;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: white;
   background-color: var(--second);
}